# Node
node_modules/
dist/
build/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# IDE configs
.vscode/
.idea/

# Cache
.cache/
*.swp

# Others
.env
